.ListPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 300px;
  margin: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.card p {
  margin: 10px;
  font-size: 1.2em;
  color: #333;
}

.searched-pokemon {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.searched-pokemon h2 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.pagination {
  margin-top: 0px;
}

button {
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 20px;
  background-color: #f92525;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #ff5252;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-open {
  display: flex;
}

.pokemon-info {
  background-color: #fff;
  padding: 50px;;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pokemon-info h2 {
  margin: 0;
  font-size: 2em;
  color: #333;
}
.pokemon-info img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}